body {
    background: url(../img/3.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment:fixed;
}

.container {
    margin-top: 20px;
}

.content {
    background: rgba(255,255,255,.8);
/*    width: 96%;*/
    margin: 0 20px;
}

header, footer {
    
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    padding: 10px;
    height: 40px;
}

.head-menu {
    list-style-type:none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.head-menu li {
    display: inline-block;
    width: 19%;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: grey;
    margin-right: 5px;
}